<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EventCanvas- Checkout the venus</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="gridwrapper">
      <div class="column" id="x">
        <div class="col-img">
          <img src="/images/features/chris-modern-bistro-mohakhali.jpeg" />
        </div>
      </div>
      <div class="column" id="x">2</div>
      <div class="column" id="x">3</div>
      <div class="column" id="x">4</div>
    </div>
  </body>
</html>
