<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="title">
      <h1>EventCanvas Log In</h1>
    </div>
    <br />
    <div class="login-container">
      <form method="post" action="/signin">
        <input type="text" placeholder="enter email or phone" name="username" />
        <br />
        <p class="error show">Error message here</p>
        <br />
        <input type="password" name="password" placeholder="enter password" />
        <br />
        <input type="submit" , value="login" />
      </form>
    </div>
  </body>
</html>
