<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="manageUsers-container">
      <div id="manageUsers-title">
        <h2>Manage Users</h2>
      </div>
      <div id="user-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="user-table">
            <tr id="">
              <td class="name">
                <img src="/images/user1.png" alt="" />
                <span>User 1</span>
              </td>
              <td class="email">email@email.com</td>
              <td class="manage">
                <img src="/images/trash.png" alt="" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
